* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1rem;
}

.btn {
    all: unset;
    display: inline-block;
    white-space: nowrap;
    border-radius: 10em;
    cursor: pointer;
}

.nav-top {
    background-color: #0084FD;
    height: 4.7rem;
    position: relative;
}

.nav-top .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.nav-top ul {
    display: none;
    position: absolute;
    top: 4.7rem;
    right: 0;
    left: 0%;
    background-color: white;
    text-align: center;
    list-style: none;
}

.nav-top li {
   padding: 1rem;
   border-bottom: 1px solid lightgray;
}

.nav-top .nav-link {
    text-decoration: none;
    color: black;
}

.nav-top .hamburgher {
    color: white;
    font-size: 1.5rem;
}

.nav-top .hamburgher:hover + ul {
    display: block;
}

@media screen and (min-width: 811px) {
    .nav-top ul {
        position: static;
        height: 100%;
        display: flex;
        align-items: center;
        background-color: transparent;
    }
    
    .nav-top li {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0;
        border: none;
    }
    
    .nav-top .nav-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: white;
        height: 100%;
        padding: 0 1rem;
        height: 100%;
    }
    
    /* .nav-top .nav-link:visited {
        color: white;
    } */
    
    .nav-top .nav-link:hover {
        background-color: aquamarine;
    }
    
    .nav-top .btn {
        background-color: white;
        padding: .5rem;
    }
    
    .nav-top .btn:hover {
        background-color: lightgray;
    }
    
    .hamburgher {
        display: none;
    }    
}

.features {
    padding: 1rem 0;
}

.features .container2 {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.features .card-features {
    flex: 1 1 100%;
    background-color: aqua;
    border-radius: 2rem;
    padding: 1rem;
}

.card-demo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card-demo .left {
    flex: 0 0 100%;
}

.card-demo img {
    display: block;
    width: 196px;
    margin-bottom: -1rem;
}

.lorem {
    margin-bottom: 20px;
}

.Clean {
    font-size: 70px;
    color: #0084FD;
    display: flex;
    justify-content: center;
}

.btn-apple {
    background-color: #0084FD;
    padding: .5rem;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
}

h2 {
    color: #0084FD;
    text-align: center;
}

@media screen and (min-width: 376px) {
    .features .card-features {
        flex-basis: calc((100% - 2rem) / 3);
    }

    .features .card-demo {
        flex-basis: calc(100% - calc((100% - 2rem) / 3) - 1rem);
    }

    .card-demo {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 813px) {
    .card-demo .left {
        flex: 0 0 50%;
    }

    .card-demo img {
        margin-right: auto;
        margin-left: auto;
    }
    
}

.container3 {
    background-color: blueviolet;
}

.sezione2 {
    width: 100%;
    margin: auto;
    display: flex;
    padding: 50px;
    justify-content: center;
}

.violet {
    margin-right: 50px;
    width: 100%;
}

.white {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

.down {
    background-color: blueviolet;
    border-radius: 50px;
    padding: 5px;
}

.strategic {
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

.testo {
    color: white;
}

@media screen and (max-width: 376px) {
    .sezione2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    }
}

@media screen and (min-width: 813px) {
    .violet {
        width: 50%;
    }
    .white {
        width: 50%;
    }
}

.container4 {
    width: 100%;
    margin: 50px auto;
    text-align: center;
}

.viola {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: blueviolet;
    text-align: center;
}

.sezione4a {
    margin-top: 40px;
    background-color: blueviolet;
    color: white;
    gap: 10px;
    padding: 10px;
    align-items: center;
    border-radius: 50px;
}

.sezione4 {
    padding: 30px;
}

.margin {
    margin-top: 40px;
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
}

.nome {
    text-align: left;
    text-decoration: double;
}

.img2a {
    width: 100px;
    height: 100px;
    margin: auto;
    overflow: hidden;
    border-radius: 50px;
    flex-shrink: 0;
}

.img-tonda {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media screen and (min-width: 376px) {
    .sezione4a {
    display: flex;
    align-items: center;
    }
}
@media screen and (min-width: 811px) {
    .sezione4a {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

.container5 {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    padding: 3em 2em;
    gap: 2em;
}

.bianco {
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}

.blocchi {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 2em;
    border-radius: 25px;
    margin-bottom: 30px;
}

.vio {
    color: blueviolet;
}

.lo {
    margin-bottom: 1rem;
}

.blocchi a {
    background-color: blueviolet;
    color: white;
    padding: 10px 50px;
    border-radius: 25px;
    text-decoration: none;
    width: fit-content;
    letter-spacing: 5px;
}

.lorem2 {
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.img3 {
    margin-left: 10px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.posizione {
    position: relative;
}

.virgole {
    font-size: 50px;
    color: blueviolet;
    position: absolute;
    top: 0;
    left: 45%;
}

.sinistra {
    text-align: left;
    margin-left: 20px;
}

.find {
    background-color: blueviolet;
    text-decoration: none;
    color: white;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

.bottone {
    margin-left: 20px;
}